<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="jungmo.shoppingmall.admin.banner.dao.mapper.BannerMapper">
	<select id = "getBanners" parameterType = "string" resultMap = "bnnMap">
		select bnn_num,bnn_location,bnn_displaytype,bnn_explainment,bnn_imageurl,bnn_link,bnn_type,bnn_alttext
		from banners
		where bnn_location = #{bnnLocation}
	</select>
	
	<resultMap id = "bnnMap" type = "banner">
		<id property = "bnnNum" column = "bnn_num" />
		<result property = "bnnLocation" column = "bnn_location" />
		<result property = "bnnDisplayType" column = "bnn_displaytype" />
		<result property = "bnnExplainment" column = "bnn_explainment" />
		<result property = "bnnImageUrl" column = "bnn_imageurl" />
		<result property = "bnnLink" column = "bnn_link" />
		<result property = "bnnType" column = "bnn_type" />
		<result property = "bnnAltText" column = "bnn_alttext" />
	</resultMap>
</mapper>