<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="jungmo.shoppingmall.admin.policy.dao.mapper.ClauseMapper">
	<insert id = "insertClause">
		insert into clauses
		values(clause_seq.nextval,null,null,null);
	</insert>
</mapper>