<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="jungmo.shoppingmall.admin.boardadmin.dao.mapper.GoodsQuestionMapper">
	<select id = "getGodq" parameterType = "page" resultMap = "goodsQAMap">
		  <![CDATA[
		  select * from(
		  	select rownum as rnum, x.* from(
		  		select godq_num,godq_content,godq_writingdate,user_id,god_num
		  		from goods_questions
		  		order by godq_num desc
		  		)x where rownum <= #{rowCnt}*#{currentPage}
		  	)where rnum > #{rowCnt}*(#{currentPage}-1)
			]]>
	</select>
	 
	<select id = "getGodqSearch" parameterType = "page" resultMap = "goodsQAMap">
		  <![CDATA[
		  select * from(
		  	select rownum as rnum, x.* from(
		  	]]>
      		<if test = "godqType != 'on'">
			select  godq_num,godq_content,godq_writingdate,user_id,god_num
			from goods_questions
			where godq_content like '%' || #{godqContent} || '%'
			</if>
			<if test = "godqType == 'on'">
			select goods_questions.godq_num,godq_content,godq_writingdate,goods_questions.user_id,god_num
			from goods_questions
     		where not exists(select * from goods_anser where goods_questions.godq_num = goods_anser.godq_num) and godq_content like '%' || #{godqContent} || '%'
			</if>
		  	order by godq_num desc
		  	<![CDATA[
		  		)x where rownum <= #{rowCnt}*#{currentPage}
		  	)where rnum > #{rowCnt}*(#{currentPage}-1)
			]]>
	</select>
	
	<update id = "updateGoda" parameterType = "map">
		update goods_anser
		set goda_content = #{godaContent}
		where godq_num = #{godqNum}
	</update>
	 
	<update id = "updateGodq" parameterType = "map">
		update goods_questions
		set godq_content = #{godqContent}
		where godq_num = #{godqNum}
	</update>
	
	<delete id = "deleteGoda" parameterType ="int">
		delete from goods_anser
		where godq_num = #{godqNum}
	</delete>
	
	<delete id = "deleteGodq" parameterType ="int">
		delete from goods_questions
		where godq_num = #{godqNum}
	</delete>
	
	<insert id = "addGoda" parameterType = "map">
		insert into goods_anser
		values (#{godqNum},#{godaContent},sysdate,#{userId})
	</insert>
	
	<select id = "getGoods" parameterType = "int" resultMap = "godMap">
		select god_num,god_listimageurl,god_name,godc_num
		from goods
		where god_num = #{godNum}
	</select>
	
	<select id = "getGoda" parameterType = "int" resultType = "goda">
		select godq_num godqNum,goda_content godaContent,goda_writingdate godaWritingDate,user_id userId
		from goods_anser
		where godq_num = #{godqNum}
	</select>
	
	<select id = "getGodc" parameterType = "int" resultType = "godc">
		select godc_num godcNum,godc_name godcName
		from goods_categories
		where godc_num = #{godcNum}
	</select>
	
	<resultMap id = "goodsQAMap" type = "godq">
	 	<id property = "godqNum" column = "godq_num" />
	 	<result property = "godqContent" column = "godq_content" />
	 	<result property = "godqWritingDate" column = "godq_writingdate" />
	 	<result property = "userId" column = "user_id" />
	 	<association property="goods" column="god_num" select = "getGoods" />
	 	<association property="goda" column="godq_num" select = "getGoda" />
	</resultMap>
	
	<resultMap id = "godMap" type = "god">
		<id property = "godNum" column = "god_num" />
		<result property = "godListImageUrl" column = "god_listimageurl" />
		<result property = "godName" column = "god_name" />
		<association property="godc" column="godc_num" select = "getGodc" />
	</resultMap>
</mapper>