<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="jungmo.shoppingmall.admin.order.dao.mapper.OrderMapper">
	<select id = "getOrders" resultMap = "purMap">
      select purchases.ord_num,purchases.god_num,ord_type,ord_date,god_amount,god_name,god_sellingprice,users.user_id,user_name
      from purchases join goods
      on (purchases.god_num = goods.god_num)
      join orders
      on (purchases.ord_num = orders.ord_num)
      join users
      on (orders.user_id = users.user_id)
      order by purchases.ord_num
	</select>
	
	<select id = "getOrder" parameterType="string" resultMap = "getOrder">
		select ord_num,ord_type,ord_date,sha_postcode,sha_street,sha_detailarea,recipient_name,
		recipient_phone,DELIVERYREQUEST,ord_resultcode,ord_resultcontent,USINGPOINT,PAYMENTMETHOD,memo_content,users.user_id,user_name
		from orders join users
		on (orders.user_id = users.user_id)
		where ord_num = #{ordNum}
	</select>
	
	<select id = "getPurchase" parameterType="string" resultMap = "purMap">
    	select purchases.ord_num,purchases.god_num,ord_type,ord_date,sha_postcode,sha_street,sha_detailarea,recipient_name,
		recipient_phone,DELIVERYREQUEST,ord_resultcode,ord_resultcontent,USINGPOINT,PAYMENTMETHOD,memo_content,users.user_id,user_name,opt_name,opt_content
		from purchases join orders
		on (purchases.ord_num = orders.ord_num)
		join users
		on (orders.user_id = users.user_id)
		join purchase_option
		on (purchases.ord_num = purchase_option.ord_num)
		and (purchases.god_num = purchase_option.god_num)
    where purchases.ord_num = #{ord_num}
	</select>
	
	<update id = "dvModify" parameterType = "hashmap">
		update orders
		<foreach item="tp" collection = "type">
			set ord_type = #{tp}
		</foreach>
		where ord_num in 
		<foreach item = "ls" collection = "list" index = "index" open="(" separator="," close=")">
			#{ls}
		</foreach>
	</update>
	
	<resultMap id = "purMap" type = "pur">
		<id property = "ordNum" column = "ord_num" />
		<association property = "order" resultMap = "getOrder" />
		<collection property = "goods" columnPrefix = "god_" resultMap="godMap" />
	</resultMap>
	
	<resultMap id = "godMap" type = "god">
		<id property = "godNum" column = "num" />
		<result property = "godName" column = "name" />
		<result property = "godAmount" column = "amount" />
		<result property = "godSellingPrice" column = "sellingprice" />
		<collection property = "goodsOption" columnPrefix = "opt_" resultMap = "godoMap" />
	</resultMap> 
	 
	<resultMap id = "getOrder" type = "order">
		<result property = "ordNum" column = "ord_num" />
		<result property = "ordDate" column = "ord_date" />
		<result property = "ordType" column = "ord_type" />
		<result property = "shaPostCode" column = "sha_postcode" />
		<result property = "shaStreet" column = "sha_street" />
		<result property = "shaDetailArea" column = "sha_detailArea" />
		<result property = "recipientName" column = "recipient_name" />
		<result property = "recipientPhone" column = "recipient_phone"/>
		<result property = "ordResultCode" column = "ord_resultcode" />
		<result property = "ordResultContent" column = "ord_resultcontent" />
		<result property = "usingPoint" column = "usingpoint" />
		<result property = "paymentMethod" column = "paymentmethod" />
		<result property = "memoContent" column = "memo_content" />
 		<association property = "user" resultMap="getUser" />
	</resultMap>
	
	<resultMap id = "getUser" type = "user">
		<result property = "userId" column = "user_id" />
		<result property = "userName" column = "user_name" />
	</resultMap>
	
	<resultMap id = "godoMap" type = "godo">
		<result property = "optName" column = "name" />
		<result property = "optContent" column = "content" />
	</resultMap>
	
</mapper>