<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="jungmo.shoppingmall.admin.order.dao.mapper.PageMapper">
	<select id = "getTotRowCnt" parameterType="string" resultType = "int">
		select count(distinct ord_num)
		from orders
		<where>
			<if test = "_parameter != null and _parameter.equals('All')">
				ord_type != '주문취소' and ord_type != '환불' and ord_type != '교환'
			</if>
			<if test = "_parameter != null and _parameter.equals('One')">
				ord_type = '배송준비중'
			</if>
			<if test = "_parameter != null and _parameter.equals('Two')">
				ord_type = '배송중'
			</if>
			<if test = "_parameter != null and _parameter.equals('Three')">
				ord_type = '배송완료'
			</if>
			<if test = "_parameter != null and _parameter.equals('Four')">
				ord_type = '주문취소'
			</if>
		</where>
	</select>
	
	<select id = "getCancelTotRowCnt" parameterType="string" resultType = "int">
		select count(distinct ord_num)
		from order_cancels
		<where>
			<if test = "_parameter != null and _parameter.equals('One')">
				odc_type = '처리전'
			</if>
			<if test = "_parameter != null and _parameter.equals('Two')">
				odc_type = '처리완료'
			</if>
		</where>
	</select>
	 
	<select id = "getRefundTotRowCnt" parameterType="string" resultType = "int">
		select count(distinct ord_num)
		from refunds
		<where>
			<if test = "_parameter != null and _parameter.equals('One')">
				ref_state = '처리전'
			</if>
			<if test = "_parameter != null and _parameter.equals('Two')">
				ref_state = '처리완료'
			</if>
		</where>
	</select>
	
	<select id = "getExchangeTotRowCnt" parameterType="string" resultType = "int">
		select count(distinct ord_num)
		from exchanges
		<where>
			<if test = "_parameter != null and _parameter.equals('One')">
				exc_state = '처리전'
			</if>
			<if test = "_parameter != null and _parameter.equals('Two')">
				exc_state = '처리완료'
			</if>
		</where>
	</select>
 
	<select id = "getBoardTotRowCnt" parameterType="map" resultType = "int">
		select count(pos_num)
		from posts
		where bor_num = #{borNum}
		<if test = "poscNum != 0">
			and posc_num = #{poscNum}
		</if>
	</select>
	 
	<select id = "getBoardSearchTotRowCnt" parameterType="map" resultType = "int">
		select count(pos_num)
		from posts
		where bor_num = #{borNum}
		<if test = "poscNum != 0">
			and posc_num = #{poscNum}
		</if>
     	 <if test = "searchType == 0">
     	 	<if test = "searchContent !=  ''">
				 and (pos_title like '%' || #{searchContent} || '%' or pos_content like '%' || #{searchContent} || '%')    	 	
     	 	</if>
    	 </if> 
	</select>
	
	<select id = "getDateTotRowCnt" parameterType= "page" resultType = "int">
	<![CDATA[	
	select count(distinct ord_num)
		from orders
		where ord_date > #{date1} and
		ord_date < #{date2} and
		ord_num like '%' || #{ordNum} || '%'
		and ord_type != '교환' and ord_type != '환불' and ord_type != '주문취소'
		order by ord_num
	]]>
	</select>
	
	<select id = "getCancelDateTotRowCnt" parameterType= "page" resultType = "int">
	<![CDATA[	
	select count(distinct ord_num)
		from order_cancels
		where odc_date > #{date1} and
		odc_date < #{date2} and
		ord_num like '%' || #{ordNum} || '%'
		order by ord_num
	]]>
	</select>
	
	<select id = "getRefundDateTotRowCnt" parameterType= "page" resultType = "int">
	<![CDATA[	
	select count(distinct ord_num)
		from refunds
		where ref_requestdate > #{date1} and
		ref_requestdate < #{date2} and
		ord_num like '%' || #{ordNum} || '%'
		order by ord_num
	]]>
	</select>
	 
	<select id = "getExchangeDateTotRowCnt" parameterType= "page" resultType = "int">
	<![CDATA[	
	select count(distinct ord_num)
		from exchanges
		where exc_requestdate > #{date1} and
		exc_requestdate < #{date2} and
		ord_num like '%' || #{ordNum} || '%'
		order by ord_num
	]]>
	</select>
</mapper>