<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="jungmo.shoppingmall.admin.order.dao.mapper.PostMapper">
	<select id = "getPosts" parameterType = "page" resultType = "post">
		  <![CDATA[
		  select * from(
		  	select rownum as rnum, x.* from(
		  		select ord_num postNum
		  		from orders
		   ]]>
		   		<where>
		   			<if test = "type != null and type.equals('All')">
		   				ord_type != '주문취소' and ord_type != '환불' and ord_type != '교환'
		   			</if>
		   			<if test = "type != null and type.equals('One')">
		   				ord_type = '배송준비중'
		   			</if>
		   			<if test = "type != null and type.equals('Two')">
		   				ord_type = '배송중'
		   			</if>
		   			<if test = "type != null and type.equals('Three')">
		   				ord_type = '배송완료'
		   			</if>
		   			<if test = "type != null and type.equals('Four')">
		   				ord_type = '주문취소'
		   			</if>
		   		</where>
		   <![CDATA[
		  		order by ord_num
		  		)x where rownum <= #{rowCnt}*#{currentPage}
		  	)where rnum > #{rowCnt}*(#{currentPage}-1)
			]]>
	</select>
	
	<select id = "getCancelPosts" parameterType = "page" resultType = "post">
		  <![CDATA[
		  select * from(
		  	select rownum as rnum, x.* from(
		  		select ord_num postNum
		  		from order_cancels
		   ]]>
		   		<where>
		   			<if test = "type != null and type.equals('One')">
		   				odc_type = '처리전'
		   			</if>
		   			<if test = "type != null and type.equals('Two')">
		   				odc_type = '처리완료'
		   			</if>
		   		</where>
		   <![CDATA[
		  		order by ord_num
		  		)x where rownum <= #{rowCnt}*#{currentPage}
		  	)where rnum > #{rowCnt}*(#{currentPage}-1)
			]]>
	</select>

	<select id = "getRefundPosts" parameterType = "page" resultType = "post">
		  <![CDATA[
		  select * from(
		  	select rownum as rnum, x.* from(
		  		select ord_num postNum
		  		from refunds
		   ]]>
		   		<where>
		   			<if test = "type != null and type.equals('One')">
		   				ref_state = '처리전'
		   			</if>
		   			<if test = "type != null and type.equals('Two')">
		   				ref_state = '처리완료'
		   			</if>
		   		</where>
		   <![CDATA[
		  		order by ord_num
		  		)x where rownum <= #{rowCnt}*#{currentPage}
		  	)where rnum > #{rowCnt}*(#{currentPage}-1)
			]]>
	</select>

	<select id = "getDatePosts" parameterType = "page" resultType = "post">
		  <![CDATA[
		  select * from(
		  	select rownum as rnum, x.* from(
		  		select ord_num postNum
		  		from orders
				where ord_date > #{date1} and
				ord_date < #{date2} and
				ord_num like '%' || #{ordNum} || '%'
		  		order by ord_num
		  		)x where rownum <= #{rowCnt}*#{currentPage}
		  	)where rnum > #{rowCnt}*(#{currentPage}-1)
			]]>
	</select>
	
	<select id = "getCancelDatePosts" parameterType = "page" resultType = "post">
		  <![CDATA[
		  select * from(
		  	select rownum as rnum, x.* from(
		  		select ord_num postNum
		  		from order_cancels
				where odc_date > #{date1} and
				odc_date < #{date2} and
				ord_num like '%' || #{ordNum} || '%'
		  		order by ord_num
		  		)x where rownum <= #{rowCnt}*#{currentPage}
		  	)where rnum > #{rowCnt}*(#{currentPage}-1)
			]]>
	</select>
	 
	<select id = "getRefundDatePosts" parameterType = "page" resultType = "post">
		  <![CDATA[
		  select * from(
		  	select rownum as rnum, x.* from(
		  		select ord_num postNum
		  		from refunds
				where ref_requestdate > #{date1} and
				ref_requestdate < #{date2} and
				ord_num like '%' || #{ordNum} || '%'
		  		order by ord_num
		  		)x where rownum <= #{rowCnt}*#{currentPage}
		  	)where rnum > #{rowCnt}*(#{currentPage}-1)
			]]>
	</select>
</mapper>