<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="jungmo.shoppingmall.admin.order.dao.mapper.PostMapper">
	<select id = "getPosts" parameterType = "page" resultType = "post">
		  <![CDATA[
		  select * from(
		  	select rownum as rnum, x.* from(
		  		select ord_num postNum
		  		from orders
		   ]]>
		   		<where>
		   			<if test = "type != null and type.equals('One')">
		   				ord_type = '배송준비중'
		   			</if>
		   			<if test = "type != null and type.equals('Two')">
		   				ord_type = '배송중'
		   			</if>
		   			<if test = "type != null and type.equals('Three')">
		   				ord_type = '배송완료'
		   			</if>
		   		</where>
		   <![CDATA[
		  		order by ord_num
		  		)x where rownum <= #{rowCnt}*#{currentPage}
		  	)where rnum > #{rowCnt}*(#{currentPage}-1)
			]]>
	</select>
	
	<select id = "getDatePosts" parameterType = "page" resultType = "post">
		  <![CDATA[
		  select * from(
		  	select rownum as rnum, x.* from(
		  		select ord_num postNum
		  		from orders
				where ord_date > #{date1} and
				ord_date < #{date2} and
				ord_num like '%' || #{ordNum} || '%'
		  		order by ord_num
		  		)x where rownum <= #{rowCnt}*#{currentPage}
		  	)where rnum > #{rowCnt}*(#{currentPage}-1)
			]]>
	</select>
</mapper>