<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="jungmo.shoppingmall.admin.user.dao.mapper.UserMapper">
	<select id = "getUsers" parameterType = "page" resultMap = "userMap">
		  <![CDATA[
		  select * from(
		  	select rownum as rnum, x.* from(	
				select users.user_id,sum(god_sellingprice*god_amount) as purchase_amount,user_joindate,user_name,user_level,count(distinct loglog_date) as visitcnt,user_hp,user_mailagreement
				from users
				full outer join orders
				on (orders.user_id = users.user_id)
				full outer join purchases
				on (orders.ord_num = purchases.ord_num)
				full outer join goods
				on (purchases.god_num = goods.god_num)
				full outer join login_logs
				on (users.user_id = login_logs.user_id)
				join point_policies
				on (pnp_num = 1)
				group by users.user_id,user_name,user_level,user_hp,user_mailagreement,user_joindate,user_state
				having user_state = '가입'
				order by user_joindate desc
		  		)x where rownum <= #{rowCnt}*#{currentPage}
		  	)where rnum > #{rowCnt}*(#{currentPage}-1)
			]]>
	</select>
	
	<select id = "getSearchUsers"  parameterType="page" resultMap = "userMap">
		  select * from(
		  	select rownum as rnum, x.* from(			
				select users.user_id,sum(god_sellingprice*god_amount) as purchaseAmount,user_joindate,user_name,user_level,count(distinct loglog_date) as user_visitcnt,user_hp,user_mailagreement
				from users
				full outer join orders
				on (orders.user_id = users.user_id)
				full outer join purchases
				on (orders.ord_num = purchases.ord_num)
				full outer join goods
				on (purchases.god_num = goods.god_num)
				full outer join login_logs
				on (users.user_id = login_logs.user_id)
				join point_policies
				on (pnp_num = 1)
				group by users.user_id,user_name,user_level,user_hp,user_mailagreement,user_joindate,user_state
				having user_state = '가입'
				<if test = "SearchBar == 1" >
				and (user_name like '%' || #{title} || '%')
				</if>
				<if test = "sdate !='' " >
				<![CDATA[
					and user_joindate > to_date(#{sdate},'YYYY-MM-DD')
					and user_joindate < to_date(#{edate},'YYYY-MM-DD')
					]]>
				</if>
				<if test = "userLevel != 0">
				and user_level = #{userLevel}
				</if>
				<if test = "minPrice != ''">
				<![CDATA[
				and sum(god_sellingprice*god_amount) > #{minPrice}
				]]>
				</if>
				<if test = "maxPrice != ''">
				<![CDATA[
				and sum(god_sellingprice*god_amount) < #{maxPrice}
				]]>
				</if>
				<if test = "minSaved != ''">
				<![CDATA[
				and user_hp > ${minSaved}
				]]>
				</if>
				<if test = "maxSaved != ''">
				<![CDATA[
				and user_hp < ${maxSaved}
				]]>
				</if>
				<if test = "email != ''">
				and user_mailagreement = #{email}
				</if>
				order by user_joindate desc
				<![CDATA[
		  		)x where rownum <= #{rowCnt}*#{currentPage}
		  	)where rnum > #{rowCnt}*(#{currentPage}-1)
		  	]]>
	</select>
	 
	<update id = "userStateChange" parameterType = "map">
		update users
		set user_state = '탈퇴'
		where user_id in
		<foreach item = "ls" collection = "list" index = "index" open="(" separator="," close=")">
			#{ls}
		</foreach> 
	</update>
	
	<resultMap id = "userMap" type = "user">
		<id property = "userId" column = "user_id"/>
		<result property = "userName" column = "user_name" />
		<result property = "userEmail" column = "user_email" />
		<result property = "userPhone" column = "user_phone" />
		<result property = "userPostcode" column = "user_postcode" />
		<result property = "userStreet" column = "user_street" />
		<result property = "userDetailArea" column = "user_detailarea" />
		<result property = "userLevel" column = "user_level" />
		<result property = "userHp" column = "user_hp" />
		<result property = "userJoinDate" column = "user_joindate"/>
		<result property = "userMailAgreement" column = "user_mailagreement" />
		<result property = "userVisitCnt" column = "visitcnt" />
		<result property = "userLatestDate" column = "user_latestdate" />
		<result property = "purchaseAmount" column = "purchase_amount" />
	</resultMap>
</mapper>