<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="jungmo.shoppingmall.user.login.dao.mapper.LoginMapper">
	<select id = "loginTest" parameterType = "user" resultType = "user">
		select user_id userId,user_pwd userPwd,user_level userLevel
		from users
		where user_id = #{userId} and user_pwd = #{userPwd}
	</select>
	
	<insert id = "addVisit" parameterType = "string">
		insert into login_logs
		values (#{userId},sysdate)
	</insert>
</mapper> 