	#nav{
		margin-top:10px;
	}
	.container:nth-child(3) hr{
		position:relative;
		bottom:30px;
	}
	body{
		min-width:640px; 
	}
	h5{
		display:inline-block;
		margin-left:10px;
		font-weight:bold;
	}
	hr{
		display:block;
		margin:0px;
		border:0;
		width:100%;
		height:1px;
		background:lightgrey;
	}
	#logo{
		width:100%;
		margin-top:20px;
	}
	#Admin{
		position:relative;
		bottom:10px;	
		left:8px;
		margin-bottom:10px;
	}
	#Admin h5{
		color:#828282;
		font-weight:100;
		margin:0;
	}
	#logo a{
		font-size:30px;
		text-decoration:none;
		color:#83858a;
		font-weight:bold;
	}
	#logo span{
		color:#FF6F43;
	}
	.container #topmenu{
		width:350px;
		margin-top:7px;
		text-align:right;
	}
	#topmenu{
		width:300px;
		margin-top:7px;
		margin-bottom:18px;
		text-align:right;
		float:right;
		position:relative;
		left:4px;
	}
	#topmenu a{
		color:#878787;
		font-size:11px;
		margin-right:10px;
		text-decoration:none;
	}
	#topmenu span{
		color:#878787;
		font-size:11px;
		margin-right:10px;
		text-decoration:none;		
	}
	#topmenu a:hover{
		text-decoration:none;
	}
	.dropdown-menu {
		position:absolute;
		top:50px;
	}
	#topmenu a:nth-child(5){
		color:#FF6F43;
	}
	.btn-group{
		border:0;
		text-align:center;
	}
	.btn-group button{
		width:100px;
		border:0px;
		text-align:center;
	}
	.btn{
		border-radius:1px;
	}
	span .btn{
		border-radius:5px;
		font-weight:bold;
	}
	#menuc{
		margin-top:50px;
		text-align:center;
	}
	#menu1,#menu2,#menu3{
		display:inline-block;
		border:1px solid #828282;
		border-radius:10px;
		margin:3px;
		padding:5px;
		text-align:left;
	}
	#vertical{
		font-weight:bold;
		font-size:15px;
	}
	.circle{
		width:80px;
		height:80px;
		border-radius:100%;
		border:1px solid #828282;
		display:inline-block;
		margin:1.5%;
		padding:13px 0px 10px 0px;
		font-size:15px;
		font-weight:bold;
		text-align:center;
		background-color:white;
	}
	#circlegroup{
		text-align:center;
		margin-top:10px;
		margin-bottom:10px;
	}
	#logout{
		color:grey;
		margin-bottom:4px;
	}
	.expire{
		margin:1px;
		display:inline-block;
		border:1px solid #828282;
		border-radius:10px;
		width:150px;
		font-size:13px;;
	}
	.expire > div:nth-child(1){
		display:inline-block;
		width:130px;
		text-align:center;
		position:relative;
		left:10px;
	}
	.expire > div:nth-child(2){
		display:inline-block;
		width:1px;
		position:relative;
		top:10px;
		right:10px;
	}
	.expire a{
		font-size:20px;
		color:#878787;
	}
	#menu1,#menu3{
		width:400px;
		height:400px;
		padding:30px;
	}
	#menu2{
		width:400px;
		height:400px;
		padding:30px;
	}
	#menu2 .panel{
		display:inline-block;
		width:156px;
		height:100px;
		font-size:15px;
		text-align:center;
	}
	#menu3 .panel{
		display:inline-block;
		width:156px;
		height:100px;
		font-size:15px;
		text-align:center;
	}
	#untreated{
		text-align:center;
	}
	.panel .panel-heading{
		padding-right:0px;
		padding-left:0px;
	}
	#webc{
		text-align:center;
	}
	.web1{
		margin-top:30px;
		display:inline-block;
		border-top:1px solid #F2F5F7;
		border-bottom:1px solid #F2F5F7;
		padding:10px;
		width:1200px;
	}
	.web1 table tr td:not(#noPosts) span{
		float:left;
		position:relative;
		right:250px;
	}
	.web1 strong{
		float:left;
		position:relative;
		left:200px;
	}
	.webmenubar .view{
		float:right;
	}
	.webmenubar{
		width:99%;
		height:30px;;
	}

	#web1table{
		position:relative;
		left:200px;
		width:60%;
		text-align:left;
		font-size:15px;
		line-height:30px;
	}
	#web1table tr td:not(:nth-child(1)),
	#web1table tr th{
		text-align:center;
	}
	#web1table tr td{
		cursor:pointer;
	}
	#web1table  tr td:nth-child(1){
		width:400px;
	}
	#web1table  tr td:nth-child(2){
		width:100px;
	}
	#web1table  tr td:nth-child(3){
		width:200px;
	}
	#nav > .btn-group{
		padding-bottom:20px;
	}
	.nav-underline {
	  position: absolute;
	  left: 10px;
	  bottom: 10px;
	  width: 60px;
	  height: 2px;
	  background:#FF6F43;
	  transition: all .3s ease-in-out;
	}
	#nav div:nth-child(1).is-current ~ .nav-underline {
	  left: 20px;
	}
	#nav  div:nth-child(2).is-current ~ .nav-underline {
	  left: 119px;
	}
	#nav  div:nth-child(3).is-current ~ .nav-underline {
	  left: 218px;
	}
	#nav  div:nth-child(4).is-current ~ .nav-underline {
	  left: 316px;
	}
	#nav  div:nth-child(5).is-current ~ .nav-underline {
	  left: 416px;
	}
	#nav  div:nth-child(6).is-current ~ .nav-underline {
	  left: 516px;
	}
	#nav  div:nth-child(7).is-current ~ .nav-underline {
	  left: 615px;
	}
	#nav  div:nth-child(1):hover ~ .nav-underline {
	  left: 20px;
	}
	#nav div:nth-child(2):hover ~ .nav-underline {
	  left: 119px;
	}
	#nav div:nth-child(3):hover ~ .nav-underline {
	  left: 218px;
	}
	#nav div:nth-child(4):hover ~ .nav-underline {
	  left: 316px;
	}
	#nav div:nth-child(5):hover ~ .nav-underline {
	  left: 416px;
	}
	#nav div:nth-child(6):hover ~ .nav-underline {
	  left: 516px;
	}
	#nav div:nth-child(7):hover ~ .nav-underline {
	  left: 615px;
	}
	.dropdown-menu {
	    position: absolute !important;
	    top: 50px !important;
	}
	.fas{
		font-size:30px;
	}
	.menuNav{
		width:100%;
		text-align:center;
		margin-bottom:50px;
	}
	.menuNav > span,
	.menuNav > strong{
		font-size:20px;
		color: #83858a;
	}
	.menuNav > strong{
		color: #FF6F43;
	}
	#webc div span:nth-child(2){
		cursor:pointer;
	}
	#footer{
		width:1180px;
		height:170px;
		margin-top:50px;
		text-align:center;
	}
	#footerLogo{
		display:inline-block;
		width:300px;
		height:170px;
		float:left;
		position:relative;
		left:110px;
	}
	#footerLogo span{
		position:relative;
		top:55px;
		font-size:35px;
	}
	#footerLogo span:first-child{
		color:#FF6F43;
	}
	#footerLogo span:last-child{
		color:#5D646E;
	}
	#footerContent{
		display:inline-block;
		width:600px;
		height:170px;
		text-align:left;
	}
	#footerTop{
		height:90px;
	}
	#footerTop div{
		display:inline-block;
		width:300px;
		height:90px;
		float:left;
	}
	#footerTop div p,
	#footerBottom div p{
		border-left:1px solid grey;
	}
	#footerTop div p strong,
	#footerTop div p span,
	#footerBottom div p strong,
	#footerBottom div p span{
		margin-left:5px;
	}
	#footerDiv{
		text-align:center;
	}
	#footerBottom div:nth-child(2){
		margin-top:30px;
		color:lightgrey;
	}
	#host,
	#domain{
		cursor:pointer;
	}
	.modal-content .modal-header {
		padding: 10px 10px 0px 10px;
		border-bottom:0px;
		height: 40px;
	}
	.modal-header > hr{
		margin-top:5px;
	}
	.modal-content .modal-footer{
		text-align:center;
	}
	.modal-body input{
		display:block;
		margin:5px;
	}
	.modal-body input:nth-child(1){
	  border: 1px solid #c4c4c4;
	  border-radius: 5px;
	  background-color: #fff;
	  padding: 3px 5px;
	  box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
		width:90%;
	}
	.modal-body input:nth-child(2){
		width:70%;
	}
	[type="date"] {
	  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
	}
	[type="date"]::-webkit-inner-spin-button {
	  display: none;
	}
	[type="date"]::-webkit-calendar-picker-indicator {
	  opacity: 0;
	}
	input[type='date']{
	  border: 1px solid #c4c4c4;
	  border-radius: 5px;
	  background-color: #fff;
	  padding: 3px 5px;
	  box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
	  width: 120px;
	}