<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="jungmo.shoppingmall.user.review.dao.mapper.ReviewMapper">
	<select id = "getRg" parameterType = "string" resultMap = "rgMap">
		select purchases.god_num,user_id,god_name,godc_num
		from orders
		join purchases
		on (orders.ord_num = purchases.ord_num)
		join goods
		on (purchases.god_num = goods.god_num)
		<![CDATA[
		where user_id = #{userId} and sysdate-ord_date <= 30
		  ]]>
		minus
		select goods_reviews.god_num,user_id,god_name,godc_num
		from goods_reviews
		join goods
		on (goods_reviews.god_num = goods.god_num)
		where user_id = #{userId}
	</select>
	
	<insert id = "addReview" parameterType = "rg">
		insert into goods_reviews
		values(godr_seq.nextval,#{godNum},#{userId},sysdate,#{satisLevel},#{godrContent})
	</insert>
	
	<resultMap id = "rgMap" type = "rg">
		<id property = "godNum" column = "god_num" />
		<result property = "userId" column = "user_id" />
		<result property = "godName" column = "god_name" />
		<result property = "godcNum" column = "godc_num" />
	</resultMap>
</mapper>