<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="jungmo.shoppingmall.user.styleshop.dao.mapper.StyleShopMapper">
	<select id = "getGoods" parameterType = "upage" resultMap = "godMap">
	    select * from(
			select rownum as rnum, x.* from(	
				select god_num,god_name,god_sellingprice,god_listimageurl,god_intro
				from goods
				where godc_num = #{godcNum}
				<if test = 'type == "newest"'>
					order by god_regdate desc
				</if>
				<if test = 'type =="rowprice"'>
					order by god_sellingprice
				</if>
				<if test = 'type == "highprice"'>
					order by god_sellingprice desc
				</if>
				<![CDATA[
		  		)x where rownum <= #{rowCnt}*#{currentPage}
		  	)where rnum > #{rowCnt}*(#{currentPage}-1)
			]]>
	</select>
	
	<select id = "getGoodsReviews" parameterType = "upage" resultMap = "godrMap">
	    select * from(
			select rownum as rnum, x.* from(	
				select god_num,user_id,godr_writingdate,satislevel,godr_content
				from goods_reviews
				where god_num = #{godNum}
				<![CDATA[
		  		)x where rownum <= #{rowCnt}*#{currentPage}
		  	)where rnum > #{rowCnt}*(#{currentPage}-1)
			]]>
	</select>
	
	<resultMap id = "godMap" type = "god">
		<id property = "godNum" column = "god_num" />
		<result property = "godName" column = "god_name" />
		<result property = "godSellingPrice" column = "god_sellingprice" />
		<result property = 'godListImageUrl' column = "god_listimageurl" />
		<result property = 'godIntroduce' column = "god_intro" />
	</resultMap> 
	
	<resultMap id = "godrMap" type = "ugodr">
		<id property = "godrNum" column = "godr_num" />
		<result property = "godNum" column = "god_num" />
		<result property = "godName" column = "god_name" />
		<result property = "godcName" column = "godc_name" />
		<result property = "godListImageUrl" column = "god_listimageurl" />
		<result property = "userId" column = "user_id" />
		<result property = "godrWritingDate" column = "godr_writingdate" />
		<result property = "satisLevel" column = "satislevel" />
		<result property = "godrContent" column = "godr_content" />
	</resultMap>
</mapper>