<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="jungmo.shoppingmall.user.styleshop.dao.mapper.StyleShopMapper">
	<select id = "getGoods" parameterType = "upage" resultMap = "godMap">
	    select * from(
			select rownum as rnum, x.* from(	
				select god_num,god_name,god_sellingprice,god_listimageurl,god_intro
				from goods
				where godc_num = #{godcNum}
				<if test = 'type == "newest"'>
					order by god_regdate desc
				</if>
				<if test = 'type =="rowprice"'>
					order by god_sellingprice
				</if>
				<if test = 'type == "highprice"'>
					order by god_sellingprice desc
				</if>
				<![CDATA[
		  		)x where rownum <= #{rowCnt}*#{currentPage}
		  	)where rnum > #{rowCnt}*(#{currentPage}-1)
			]]>
	</select>
	
	<select id = "getGoodsReviews" parameterType = "upage" resultMap = "godrMap">
	    select * from(
			select rownum as rnum, x.* from(	
				select godr_num,god_num,user_id,godr_writingdate,satislevel,godr_content
				from goods_reviews
				where god_num = #{godNum}
				order by godr_num desc
				<![CDATA[
		  		)x where rownum <= #{rowCnt}*#{currentPage}
		  	)where rnum > #{rowCnt}*(#{currentPage}-1)
			]]>
	</select>
	
	<select id = "getGoodsQnA" parameterType = "upage" resultMap = "godqMap">
	    select * from(
			select rownum as rnum, x.* from(	
				select goods_questions.godq_num,godq_content,godq_writingdate,goods_questions.user_id quser_id,god_num,goda_content,goda_writingdate,goods_anser.user_id auser_id
				from goods_questions
			    full outer join goods_anser
			    on (goods_questions.godq_num = goods_anser.godq_num)
			    where god_num = #{godNum}
			    order by goods_questions.godq_num desc
				<![CDATA[
		  		)x where rownum <= #{rowCnt}*#{currentPage}
		  	)where rnum > #{rowCnt}*(#{currentPage}-1)
			]]>
	</select>
	
	<update id = "modifyGoodsReview" parameterType = "map">
		update goods_reviews
		set satislevel = #{satisLevel},godr_content = #{godrContent}
		where godr_num = #{godrNum}
	</update>
	
	<update id = "modifyGoodsQuestion" parameterType = "map">
		update goods_questions
		set godq_content = #{godqContent}
		where godq_num = #{godqNum}
	</update>
	
	<update id = "addGoodsViewCnt" parameterType = "string">
		update goods
		set god_viewpoint = god_viewpoint+1
		where god_num = #{godNum}
	</update>
	
	<delete id = "deleteGoodsQuestion" parameterType = "string">
		delete from goods_questions
		where godq_num = #{godqNum}
	</delete>
	
	<delete id = "deleteGoodsReview" parameterType = "string">
		delete from goods_reviews
		where godr_num = #{godrNum}
	</delete>
	
	<insert id = "insertGoodsQuestion" parameterType = "map">
		insert into goods_questions
		values(godq_seq.nextval,#{godqContent},sysdate,#{userId},#{godNum})
	</insert>
	
	<insert id = "insertCarts" parameterType = "hashmap">
		insert all
		<foreach item = "list" collection = "cartList" index = "index">
			into carts
			<if test = "list.optionName != 'ept'">
			values(carts_seq.nextval,#{list.userId},#{list.godNum},#{list.godAmount},#{list.optionName},#{list.optionContent},#{list.optionPrice},#{index}+1)
			</if>
			<if test = "list.optionName == 'ept'">
			values(carts_seq.nextval,#{list.userId},#{list.godNum},#{list.godAmount},null,null,null,#{index}+1)
			</if>
		</foreach>
		select 1 from dual
	</insert>
	
	<resultMap id = "godMap" type = "god">
		<id property = "godNum" column = "god_num" />
		<result property = "godName" column = "god_name" />
		<result property = "godcNum" column = "godc_num" />
		<result property = "godcName" column = "godc_name" />
		<result property = "godDisplayType" column = "god_displaytype" />
		<result property = "godSellingLimit" column = "god_sellinglimit" />
		<result property = "godSellingPrice" column = "god_sellingprice" />
		<result property = 'godNormalPrice' column = "god_normalprice" />
		<result property = 'godListImageUrl' column = "god_listimageurl" />
		<result property = 'godMainImageUrl' column = "god_mainimageurl" />
		<result property = 'godViewPoint' column = "god_viewpoint" />
		<result property = "godRegDate" column = "god_regdate" />
		<result property = "godStock" column = "god_stock" />
		<result property = "godIntroduce" column = "god_intro" />
		<result property = "memo" column = "god_memo" />
		<result property = "godDetailInfo" column = "god_detailinfo" />
	</resultMap> 
	
	<resultMap id = "godrMap" type = "ugodr">
		<id property = "godrNum" column = "godr_num" />
		<result property = "godNum" column = "god_num" />
		<result property = "godName" column = "god_name" />
		<result property = "godcName" column = "godc_name" />
		<result property = "godListImageUrl" column = "god_listimageurl" />
		<result property = "userId" column = "user_id" />
		<result property = "godrWritingDate" column = "godr_writingdate" />
		<result property = "satisLevel" column = "satislevel" />
		<result property = "godrContent" column = "godr_content" />
	</resultMap>
	
	<resultMap id = "godqMap" type = "qna">
		<id property = "godqNum" column = "godq_num" />
		<result property = "godNum" column = "god_num" />
		<result property = "godqContent" column = "godq_content" />
		<result property = "godqWritingDate" column = "godq_writingdate" />
		<result property = "godqUserId" column = "quser_id" />
		<result property = "godaContent" column = "goda_content" />
		<result property = "godaWritingDate" column = "goda_writingdate" />
		<result property = "godaUserId" column = "auser_id" />
	</resultMap>
</mapper>