<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="jungmo.shoppingmall.user.styleshop.dao.mapper.UPageMapper">
	<select id = "getTotRowCnt" parameterType="string" resultType = "int">
		select count(distinct god_num)
		from goods
		where godc_num = #{godcNum}
	</select>
	 
	<select id = "getGodrTotRowCnt" parameterType="string" resultType = "int">
		select count(god_num)
		from goods_reviews
		where god_num = #{godNum}
	</select>

	<select id = "getQnATotRowCnt" parameterType="string" resultType = "int">
	    select count(*)
		from goods_questions
	    where god_num = #{godNum}
	</select>
	 
	<select id = "getPlTotRowCnt" parameterType="string" resultType = "int">
		select count(*)
		from point_logs
		where user_id = #{userId}
	</select>
	
	<select id = "getSearchPlTotRowCnt" parameterType="string" resultType = "int">
		select count(*)
		from point_logs
	    where user_id = #{userId} and
	     <![CDATA[
        polg_date > to_date(#{sdate},'YYYY-MM-DD HH24:MI:SS') and
		polg_date < to_date(#{edate},'YYYY-MM-DD HH24:MI:SS')
		]]>
	</select>

	<select id = "getOtoqTotRowCnt"  parameterType = "string" resultType = "int">
		select count(otoq_num)
		from oto_questions
		where user_id = #{userId}
	</select> 
	
	<select id = "getSearchOtoqTotRowCnt"  parameterType = "map" resultType = "int">
		select count(otoq_num)
		 from oto_questions
		 join oto_categories
		 on (oto_questions.otoc_num = oto_categories.otoc_num)
		where ((otoq_content like '%' || #{otoqContent} || '%') or (otoq_title like '%' || #{otoqContent} || '%'))
		and user_id = #{userId}
		order by oto_questions.otoq_num desc
	</select>
	
	<select id = "getMGodrTotRowCnt" parameterType = "string" resultType = "int">
		select count(godr_num)
		from goods_reviews
		where user_id = #{userId}
	</select> 
	
	<select id = "getMGodrSearchTotRowCnt"  parameterType="map" resultType = "int">
		<if test = "godcNum == 0">
			select count(godr_num)
		  	from goods_reviews
			where (godr_content like '%' || #{godrContent} || '%')
			and user_id = #{userId}
		</if>
		<if test = "godcNum != 0">
			select count(godr_num)
		  	from goods_reviews
		  	join goods
		  	on (goods_reviews.god_num = goods.god_num)
			where (godr_content like '%' || #{godrContent} || '%') and (goods.godc_num = #{godcNum})
			and user_id = #{userId}
		</if>
	</select>
	
	<select id = "getMGodqTotRowCnt"  parameterType = "string" resultType = "int">
		select count(godq_num)
		from goods_questions
		where user_id = #{userId}
	</select>
	
	<select id = "getMGodqSearchTotRowCnt"  parameterType="map" resultType = "int">
		<if test = "godqType == 0">
			select count(godq_num)
			from goods_questions
			where godq_content like '%' || #{godqContent} || '%'
			and user_id = #{userId}	
		</if>
		<if test = "godqType != 0">
		select count(goods_questions.godq_num)
		from goods_questions
	    join goods
	    on (goods_questions.god_num = goods.god_num)
     	where godc_num = #{godqType} and godq_content like '%' || #{godqContent} || '%'
     	and user_id = #{userId}	
		</if>
	</select>
	
	<select id = "getGodTotRowCnt" parameterType ="string" resultType = "int">
		select count(god_num)
		from goods
		where god_name like '%' || #{Search} || '%'
	</select>
	 
	<select id = "getSGodrTotRowCnt" parameterType="string" resultType = "int">
		select count(goods_reviews.god_num)
		from goods_reviews
		join goods
    	on (goods.god_num = goods_reviews.god_num)
		where god_name like '%' || #{Search} || '%'
	</select>
	
	<select id = "getSPostsTotRowCnt" parameterType = "string" resultType = "int">
		select count(*)
		from posts
		join boards
		on (boards.bor_num = posts.bor_num)
		where pos_title like '%' || #{Search} || '%' or pos_content like '%' || #{Search} || '%'	
	</select>
</mapper>