<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="jungmo.shoppingmall.user.styleshop.dao.mapper.UPageMapper">
	<select id = "getTotRowCnt" parameterType="string" resultType = "int">
		select count(distinct god_num)
		from goods
		where godc_num = #{godcNum}
	</select>
	 
	<select id = "getGodrTotRowCnt" parameterType="string" resultType = "int">
		select count(god_num)
		from goods_reviews
		where god_num = #{godNum}
	</select>

	<select id = "getQnATotRowCnt" parameterType="string" resultType = "int">
	    select count(*)
		from goods_questions
	    where god_num = #{godNum}
	</select>
	 
	<select id = "getPlTotRowCnt" parameterType="string" resultType = "int">
		select count(*)
		from point_logs
		where user_id = #{userId}
	</select>
	
	<select id = "getSearchPlTotRowCnt" parameterType="string" resultType = "int">
		select count(*)
		from point_logs
	    where user_id = #{userId} and
	     <![CDATA[
        polg_date > to_date(#{sdate},'YYYY-MM-DD HH24:MI:SS') and
		polg_date < to_date(#{edate},'YYYY-MM-DD HH24:MI:SS')
		]]>
	</select>

	<select id = "getOtoqTotRowCnt"  parameterType = "string" resultType = "int">
		select count(otoq_num)
		from oto_questions
		where user_id = #{userId}
	</select> 
	
	<select id = "getSearchOtoqTotRowCnt"  parameterType = "map" resultType = "int">
		select count(otoq_num)
		 from oto_questions
		 join oto_categories
		 on (oto_questions.otoc_num = oto_categories.otoc_num)
		where (otoq_content like '%' || #{otoqContent} || '%') or (otoq_title like '%' || #{otoqContent} || '%')
		and user_id = #{userId}
		order by oto_questions.otoq_num desc
	</select>
	
	<select id = "getMGodrTotRowCnt" parameterType = "string" resultType = "int">
		select count(godr_num)
		from goods_reviews
		where user_id = #{userId}
	</select>
</mapper>