<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="jungmo.shoppingmall.user.join.dao.mapper.JoinMapper">
	<insert id="addUser" parameterType="user">
		insert into users
		values(
		#{userId},#{userName},#{userPwd},#{userEmail},#{userPhone},#{userPostcode},#{userStreet},#{userDetailArea},1,sysdate,0,#{userMailAgreement},null,'가입'
		)
	</insert>
	
	<insert id = "addClsc" parameterType="clsc">
		insert into clause_categories
		values(#{clsNum},#{userId},#{clscAgreement})
	</insert>
	
	<insert id = "addJoinPoint" parameterType = "string">
		insert into point_logs(user_id,polg_date,polg_content,polg_change)
		select #{userId},sysdate,'회원가입 이벤트',joinpoint from point_policies where pnp_num = 1;
	</insert>
	
	<select id = "getClauses" resultType = "cls">
		select cls_num clsNum,cls_title clsTitle,cls_content clsContent,cls_usage clsUsage
		from clauses
		where cls_usage != '사용하지않음'
	</select>
	
	<select id = "overlapInjection" resultType = "ovl">
		select user_id userId
		from users
		where user_id = #{userId}
	</select>
</mapper>