<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd
		http://mybatis.org/schema/mybatis-spring
		http://mybatis.org/schema/mybatis-spring.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop.xsd">
	<context:component-scan base-package="jungmo.shoppingmall"/>
	<mvc:annotation-driven />
	<bean class = "org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name = "prefix" value = "/WEB-INF/views/"/>
		<property name = "suffix" value = ".jsp"/>
	</bean>
	
	<mvc:resources location="/WEB-INF/resources/css/" mapping="/css/**"/>
	<mvc:resources location="/WEB-INF/resources/js/" mapping="/js/**"/>
	<mvc:resources location="/WEB-INF/resources/img/" mapping="/IMAGE/**"/>

	<bean id = "dataSource" class = "org.springframework.jndi.JndiObjectFactoryBean">
		<property name ="jndiName" value = "java:comp/env/jdbc/jungmo"/>
		<property name = "resourceRef" value = "true"/>
	</bean>
	<bean id = "sqlSessionFactory" class = "org.mybatis.spring.SqlSessionFactoryBean">
		<property name = "dataSource" ref = "dataSource" />
		<property name = "configLocation"
			value = "classpath:jungmo/shoppingmall/config/dao/SqlMapConfig.xml"/>
		<property name="mapperLocations">
			<array>
				<value>classpath:jungmo/shoppingmall/**/dao/mapper/*.xml</value>
			</array>
		</property>
	</bean>
	<mybatis:scan base-package = "jungmo.shoppingmall.**.dao.mapper"/>
	
	<bean id = "transactionManager" class = "org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name = "dataSource" ref = "dataSource"/>
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager"/>

	<bean id = "loginInterceptor" class = "jungmo.shoppingmall.interceptor.LoginInterceptor"></bean>
	<bean id = "AdminInterceptor" class = "jungmo.shoppingmall.interceptor.AdminInterceptor"></bean>
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**"/>
			<mvc:exclude-mapping path="/"/>
			<mvc:exclude-mapping path="/resources/css/**"/>
			<mvc:exclude-mapping path="/resources/js/**"/>			
			<ref bean = "loginInterceptor"/> 
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/admin/**"/>
			<mvc:exclude-mapping path="/admin/login"/>
			<mvc:exclude-mapping path="/admin/loginCheck"/>
			<ref bean = "AdminInterceptor"/> 
		</mvc:interceptor>
	</mvc:interceptors>
	
	<aop:aspectj-autoproxy />
	
</beans>